@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
    --background: #000000;
    --foreground: #ffffff;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

html,
body {
    overscroll-behavior-y: none; /* Disables bounce effect */
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

/* SLIME LIME SELECTION */
::selection {
    background: rgba(190, 242, 100, 0.3); /* Lime-400 opacity */
    color: #bef264;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #000;
}
::-webkit-scrollbar-thumb {
    background: #1a2e05; /* Dark Green */
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #bef264; /* Slime Lime */
}
